<nav class="navbar navbar-expand-lg navbar-light  bg-primary" style="background-color: #e3f2fd; height: 40px; ">
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <img src="{{url_for('static', filename='images/logo.svg')}}" align="middle" /> -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="auto" height="22px"
              class="d-inline-block align-text-top">
            Chowagiken Car_Cutting Test server </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentation</a>
        </li>
      </ul>
    </div>
  </nav>